<div class="col-sm-12">
    <Span class="text-sign">
        Join our slack channel on
      <a class="nav-link" href="https://slack.africastalking.com" target="_blank">Africastalking Slack channel</a>
    </Span>
</div>