<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>
<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="atlogo.jpg">
    </a>
    <h2>Airtime Vendor</h2>
    <%- include ("../partials/nav.ejs") %> 
    <form>
      <div class="form-group row">
		<div class="col-sm-3">

			<label for="phoneNumber">Phone Number</label>
		</div>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="phoneNumber" aria-describedby="phone number" placeholder="Enter phone number">
        </div>
      </div>
	  <div class="form-group row">
		<div class="col-sm-3">
			<label for="amount">Amount</label>
		</div>
        <div class="col-sm-6">
          <input type="number" class="form-control" id="amount" aria-describedby="amount" placeholder="Enter amount">
        </div>
      </div>
	  <div class="btn-div">
		  <button type="submit" class="btn btn-primary">Submit</button>
	  </div>
    </form>
  </div>
</div>
</body>
</html>
