<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>
<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="atlogo.jpg">
    </a>
    <h2>AT Vendor</h2>
    <%- include ("../partials/nav.ejs") %> 
    <form method="POST" action="/send_sms">
      <h6>Add a number starting with +254 or +250 separated by comma(,)</h6>
      <div class="form-group row">
		<div class="col-sm-3">

			<label for="phoneNumber">Phone Number</label>
		</div>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="phoneNumber" aria-describedby="phone number" placeholder="+250710852963, +250754896321" multiple size="150" name="phoneNumbers">
        </div>
      </div>
	  <div class="form-group row">
		<div class="col-sm-3">
			<label for="message">Message</label>
		</div>
        <div class="col-sm-6">
            <textarea type="text" class="form-control" id="message" name="message" rows="4" cols="50" maxlength="200">
                Great hackathon session. Have a lovely day
            </textarea>
        </div>
      </div>
	  <div class="btn-div">
		  <button type="submit" class="btn btn-primary">Submit</button>
	  </div>
    </form>
	<%- include ("../partials/footer.ejs") %> 
  </div>
</div>
</body>
</html>
<script>
  
</script>
